<a href="https://colab.research.google.com/github/shreyasur/pandas_assignment/blob/master/PANDAS_ASSIGNMENT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import io
from google.colab import files

In [ ]:
uploaded = files.upload()
df = pd.read_csv(io.StringIO(uploaded['matches.csv'].decode('utf-8')))
df

Saving matches.csv to matches.csv

      id  season       city  ...          umpire1          umpire2 umpire3
0      1    2017  Hyderabad  ...      AY Dandekar         NJ Llong     NaN
1      2    2017       Pune  ...   A Nand Kishore           S Ravi     NaN
2      3    2017     Rajkot  ...      Nitin Menon        CK Nandan     NaN
3      4    2017     Indore  ...     AK Chaudhary    C Shamshuddin     NaN
4      5    2017  Bangalore  ...              NaN              NaN     NaN
..   ...     ...        ...  ...              ...              ...     ...
631  632    2016     Raipur  ...   A Nand Kishore     BNJ Oxenford     NaN
632  633    2016  Bangalore  ...     AK Chaudhary  HDPK Dharmasena     NaN
633  634    2016      Delhi  ...        M Erasmus    C Shamshuddin     NaN
634  635    2016      Delhi  ...        M Erasmus        CK Nandan     NaN
635  636    2016  Bangalore  ...  HDPK Dharmasena     BNJ Oxenford     NaN

[636 rows x 18 columns]

In [ ]:
# Q1. Find the number of matches played in Mumbai in the period of 2013 and 2017

mask=(df['season']>=2013) & (df['season']<=2017) & (df['city']=="Mumbai")
df[mask]['city'].value_counts().values[0]

38

In [ ]:
# Q2. Find the number of matches where the margin of victory was greater than 30

mask=df['win_by_runs']>30
df[mask]['winner'].value_counts().sum()

103

In [ ]:
# Q3. What percent times KKR decides to bat after winning the toss

mask1=(df['toss_winner']=="Kolkata Knight Riders") & (df['toss_decision']=='bat')
mask2=(df['toss_winner']=="Kolkata Knight Riders")

num1=df[mask1]['toss_decision'].value_counts().values[0]
num2=df[mask2]['toss_decision'].value_counts().sum()
percentage=(num1/num2)*100


print("percent times KKR decides to bat after winning the toss:",percentage,"%")

percent times KKR decides to bat after winning the toss: 38.46153846153847 %

In [ ]:
# Q4 : Find the name of the player who won max number of man of the matches award in the period of 2010 and 2015 while plating in Mumbai [Easy]

mask=(df['season']>=2010) & (df['season']<=2015) & (df['city']=="Mumbai")
df[mask]['player_of_match'].value_counts().head(1).index[0]

'KA Pollard'

In [ ]:
# Q5 : Find the team who has won most number of matches with victory margin > 50 [Easy]

mask=df['win_by_runs']>50
df[mask]['winner'].value_counts().head(1).index[0]

'Chennai Super Kings'

In [ ]:
# Q6 : Write a function which will take 2 inputs, team 1 and team 2 and their record against each other

# For example if team1->KKR and team2->CSK

# The output should be like KKR 2(matches won by KKR) and CSK 5(matches won by CSK)[Medium]

def win_record(team1,team2):
    mask=((df['team1']==team1)& (df['team2']==team2)) | ((df['team1']==team2)& (df['team2']==team1))
    result=df[mask]['winner'].value_counts()
    #return result
    print("{} {}(matches won by {}) and {} {}(matches won by {})".format(result.index[0],result.values[0],result.index[0],result.index[1],result.values[1],result.index[1]))
    
win_record("Kolkata Knight Riders","Chennai Super Kings")

Chennai Super Kings 10(matches won by Chennai Super Kings) and Kolkata Knight Riders 6(matches won by Kolkata Knight Riders)

In [ ]:
# Q7 : Write a function which will accept a team name as input and will return it's win percentage after winning the toss[Difficult]

In [ ]:
def win_percentage(team):
    mask1=((df['team1']==team) | (df['team2']==team)) & (df['toss_winner']==team)
    mask2=((df['team1']==team) | (df['team2']==team)) & (df['toss_winner']==team) & (df['winner']==team)
    num1=df[mask1]['winner'].value_counts().values.sum()
    num2=df[mask2]['winner'].value_counts().values[0]
    win_percentage=(num2/num1)*100
    print("The win percentage of", team ,"after winning toss is" , win_percentage , "%")
    #return result
    
win_percentage("Mumbai Indians")

The win percentage of Mumbai Indians after winning toss is 56.470588235294116 %